<div class="tileHeading">
    <div class="subHeading">
        <span class="medicalTileInfo">
            <span class="subHeadingIcon testsHeadingIcon">&nbsp;</span>
            <label class="tileUIElement tileTitle" data-localize="Tests">{{medTestsTitle}}</label>
            <span id="selectedTest" class="tileTitle selectedResource"></span>
        </span>
        <span class="rightAligned rightAlignedFix">
            <span id="cbxMTestsType"  [hidden] ="showGrid">
                <ig-combo [(widgetId)]="comboId"
                          [(options)]="comboOpts"
                          [(dataSource)]="medTests"
                          (selectionChanged)="selectionChangedHandler($event)"
                          (dataBound)="dataBoundHandler($event)"
                          [ngModel]="combo.value"
                         >
                </ig-combo>
            </span>
        </span>
        <a id="btnMGridChart" class="tileUIElement rightAligned" (click)="toggleState()">
            <span class="headingChartIcon" [ngClass]="{ gridSelectIcon: showChart,  chartSelectIcon: !showChart}">&nbsp;</span>
        </a>
        <span id="McategoryButtons" class="rightAligned" *ngIf="showChart" [hidden] ="showGrid">

            <a class="tileUIElement" data-chartSeries="column" id="btnMCColumn" (click)="changeSeriesTypeEvent($event)">
                <span class="headingChartIcon columnChartIcon">&nbsp;</span>
            </a>

            <a class="tileUIElement" data-chartSeries="line" (click)="changeSeriesTypeEvent($event)">
                <span class="headingChartIcon lineChartIcon">&nbsp;</span>
            </a>

            <a class="tileUIElement" data-chartSeries="spline" (click)="changeSeriesTypeEvent($event)">
                <span class="headingChartIcon splineChartIcon">&nbsp;</span>
            </a>

            <a class="tileUIElement" data-chartSeries="area" (click)="changeSeriesTypeEvent($event)">
                <span class="headingChartIcon areaChartIcon">&nbsp;</span>
            </a>

            <a class="tileUIElement" data-chartSeries="splineArea" (click)="changeSeriesTypeEvent($event)">
                <span class="headingChartIcon splineAreaChartIcon">&nbsp;</span>
            </a>

        </span>
    </div>
</div>
<div class="tileContent">
    <div id="gridMTestsContainer" style="width: 100%; height: 100%" [hidden]="!showGrid">
        <ig-grid [widgetId]="'gridMTest'" [(options)]="gridOpts" [(dataSource)]="gridData">
            <column [key]="'id'" [dataType]="'number'" [hidden]="true"></column>
            <column [(headerText)]="TimeStamp" [key]="'timestamp'" [dataType]="'date'" [width]="'30%'"></column>
            <column [(headerText)]="TestType" [key]="'testTypeId'" [dataType]="'string'" [width]="'30%'" [formatter]="formatter"></column>
            <column [(headerText)]="Result" [key]="'result'" [dataType]="'string'" [width]="'30%'"></column>
        </ig-grid>
    </div>
   <div id="chartMedTestsContainer" [hidden]="!showChart"> 
        <ig-data-chart [(options)]="chartOpts" [widgetId]="'chartMTests'" [(dataSource)]="gridData" [width]="'100%'" [height]="'100%'"></ig-data-chart>
   </div>
    <div>
        <ig-tile-manager widgetId="imageTestsResults" [(options)]="tileOpts" [(dataSource)]="layoutData"  [hidden]="showGrid || showChart"> </ig-tile-manager>
    </div>
</div>
<div class="minimizedContainer">
    <div class="innerContainer">
        <span>Medical Tests</span>
        <img src="Content/images/tileIcons/tileTests.png" alt="test" />
    </div>
</div>