
  <div id="gridRMedContainer" style="width: 100%; height: 100%">
    <ig-grid [widgetId]="'gridRMed'" [options]="gridOptions" [(dataSource)]="data">
		<column [(headerText)]="Time" [key]="'timestamp'" [dataType]="'date'" [width]="'20%'"></column>
		<column [(headerText)]="Medicine" [key]="'medName'" [dataType]="'string'" [width]="'20%'"></column>
		<column [(headerText)]="Dosage" [key]="'dosage'" [dataType]="'number'" [width]="'20%'"></column>
		<column [(headerText)]="Unit" [key]="'unit'" [dataType]="'string'" [width]="'20%'"></column>
		<column [(headerText)]="Frequency" [key]="'frequency'" [dataType]="'string'" [width]="'20%'"></column>
	</ig-grid>
  </div>
  <div id="chartRMed"></div>
